---
const year = new Date().getFullYear()
---


<footer class="py-20 max-w-[740px] mx-auto">
  <p class="flex flex-col mx-auto text-center text-gray-500 text-base">
    &copy; {year} Armando Diaz. Todos los derechos reservados.
  </p>
</footer>